body {
    font-size: 16px;
 }

 h1 {
    font-family: sans-serif;
    font-size:  65px;
    color: orange;
 }

 p {
    font-size: 3em;
    font-weight: 600;
    text-align: right;
    text-decoration: underline;
 }

 ul {
    font-style:italic;
    line-height: 2.5em;
    background-color: green;
 }

 .backgroundyellow {
    background-color: yellow;
 }

 .backgroundbrown {
   background-color: #8f4a35;
 }

 .backgroundred {
    background-color: red;
 }

 .changebackground {
    background-color: #58998f;
 }