.super-mario {
    width: 200px;
  }
  
  .goomba {
    width: 100px;
    top: 350px;
    left: 80px;
    position: absolute;
  }
  
  .baloon {
  
  }
  
  .speach {
    font-size: 25px;
  }
  
  .bowser {
    width: 200px;
  }